body {
    background-color: #EEFFFF !important;
}

.day-blank {
    background-color: #efefef;
}

.day-sun .day{
    color: red;
}

.day-sat .day{
    color: blue;
}
.calendar table td {
    padding: 3px;
    border: solid 1px #999 !important;
}
.calendar table td:before {
    display: block;
    float: left;
    height: 100px;
    content: "";
}

.calendar table td .day {
    margin-bottom: 0;
}
.calendar table th {
    text-align: center;
    border: solid 1px #999 !important;
}

.card-header {
    text-align: center;
}

.holiday {
    color: red;
    font-weight: bold;
}

.today {
    background-color: #FFC7AF;
}

.balance table td {
    border: solid 2px #999;
    text-align: center !important;
    height: 50px;
}

table {
    background-color: white;
}

.index table tbody td {
    height: 40px;
}

.index table tfoot td {
    height: 60px;
}

.income {
    color: #004400;
}

.outcome {
    color: red;
}

.total table td {
    height: 70px;
}

.font {
    color: black;
    font-weight: 500;
}

.card-header {
    font-weight: bold;
    font-size: 30px;
}